      <td><%= current_user.games_played.count %> </td>
      <td><%= current_user.games_all_won.count%> </td>
      <td><%= current_user.games_all_drawn.count %> </td>
      <td><%= current_user.games_all_lost.count %> </td>