<h2>Tic Tac Toe</h2>
<ul>

<li><%= link_to "Play  vs computer", new_ttt_path(computer: :true) %></li>

<li><%= link_to "Play vs Player 2 (same computer)", new_ttt_path %></li>
<li><%= link_to "Play vs Player 2 (via internet)", new_ttt_path %></li>
</ul>
<a href="/">back to game centre</a>




   




