/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


.middle {
  text-align: center; }

.middle form {
  display: inline;
  margin: 0 auto;
  width: 300px; }
  .middle form input[type="submit"] {
    padding: 5px;
    font-size: 1.5rem; }

.score {
  padding: 10px; }

.numbcont {
  font-size: 0;
  width: 420px;
  height: 420px;
  position: relative;
  margin: 0px auto;
  margin-top: 75px;
  text-align: center; }
  .numbcont div {
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    line-height: 50px; }

.controls {
  display: inline-block;
  width: 100px;
  height: 200px;
  border: 1px solid black; }
  .controls a {
    display: inline-block;
    width: 90px;
    height: 90px; }

.numbcont .cont_left, .numbcont .cont_right, .numbcont .cont_up, .numbcont .cont_down {
  height: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: -50px;
  top: 150px;
  border-right: 50px solid #dbf970;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; }

.numbcont .cont_right {
  border-right: none;
  border-left: 50px solid #dbf970;
  right: -50px;
  left: auto; }

.numbcont .cont_up {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid #dbf970;
  top: -110px;
  left: 150px; }

.numbcont .cont_down {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 50px solid #dbf970;
  border-bottom: none;
  top: 410px;
  left: 150px; }

.col0 {
  color: white; }

.col2 {
  background: #f4fdd2; }

.col4 {
  background: #e7fba1; }

.col8 {
  background: #dbf970; }

.col16 {
  background: #c2f50e; }

.col32 {
  background: #779706; }

.col64 {
  background: #ffd9d9; }

.col128 {
  background: #ffa6a6; }

.col256 {
  background: #ff7373; }

.col512 {
  background: #ff0d0d; }

.col1024 {
  background: #a60000; }

.col2048 {
  background: #400000; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 /* margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;*/
  
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
 /* border-collapse: collapse;
  border-spacing: 0;*/
}

/**
 #ff7373;
      right: -2%;
     #dbf970; #63add0;
   **/
* {
  box-sizing: border-box;
  font-family: 'Comfortaa', 'cursive'; }

nav .left_menu, nav .right_menu, nav .right_menu {
  display: none; }

.home input[type="password"], .home input[type="text"] {
  font-size: 1.5em;
  max-width: 220px;
  width: 90%; }

.home a, input[type="button"], input[type="submit"], input[type="file"] {
  font-weight: bold;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: black;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  max-width: 220px;
  width: 90%;
  background-color: #dbf970; }
  .home a:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
    color: #ff7373; }

.home h1 {
  font-size: 1.5em; }

.home a {
  padding: 10px;
  max-width: 220px;
  width: 90%;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  background: #dbf970; }

.toggle > .search_box {
  height: 0;
  overflow: hidden;
  transition: height 1s; }

.toggle:hover > .search_box {
  height: 50px; }

.search_box {
  width: 300px;
  margin: 0 auto;
  text-align: center; }
  .search_box input[type="text"], .search_box input[type="submit"] {
    width: 45%; }
  .search_box p {
    display: inline; }

.field_with_errors input[type="text"], .field_with_errors input[type="password"] {
  background: #ff7373; }

b {
  font-weight: bold;
  font-size: 1.2em; }

@media screen and (max-width: 460px) {
  background: #dbf970; }
body {
  height: 100%; }

a {
  text-decoration: none;
  color: black;
  border-radius: 7px; }

.home input[type="submit"] {
  font-size: 1.2em; }

a:hover {
  color: #ff7373; }

.home {
  width: 80%;
  max-width: 300px;
  margin: 5% auto;
  text-align: center; }

.home table {
  margin: 0 auto; }

main .left_menu, main .right_menu {
  position: relative;
  width: 500px;
  margin: 50px auto;
  top: 80px;
  left: auto;
  display: inline; }
  main .left_menu b, main .right_menu b {
    font-size: 1.5em; }

.left_menu, .right_menu {
  text-align: center;
  width: 20%;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 3%; }
  .left_menu a, .right_menu a {
    padding: 10px;
    max-width: 200px;
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    background: #dbf970; }

.right_menu {
  right: 3%;
  left: auto; }
  .right_menu table {
    margin: 0 auto;
    margin-top: 10px; }
    .right_menu table td {
      padding: 5px 10px; }

main {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

.score, .errors p, .flash p {
  border-radius: 7px;
  background: #ff7373;
  padding: 10px;
  max-width: 200px;
  width: 90%;
  display: inline-block; }

.score, input[type="text"], input[type="password"] {
  padding: 10px;
  text-align: center; }

.field {
  margin: 5px 0; }

.logo {
  font-size: 2.8em;
  padding: 20px 0; }

ul {
  -webkit-padding-start: 0px; }

li {
  padding: 0;
  margin: 0;
  border-radius: 7px; }

.notif_anchor {
  position: relative; }

a:hover .notif_anchor .notification {
  width: 35px;
  height: 35px;
  line-height: 35px; }

.notification {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -20px;
  left: -15px;
  background: #ff7373;
  text-align: center;
  line-height: 25px;
  color: white;
  transition: all 0.2s; }

nav {
  position: absolute;
  top: 2%;
  left: 2%; }
  nav .profile-pic {
    position: absolute;
    width: 75px;
    border-radius: 7px; }

.loginstatus a, nav a {
  display: inline-block;
  background: #dbf970;
  padding: 10px;
  color: black;
  text-decoration: none; }
  .loginstatus a:hover, nav a:hover {
    color: white; }

.loginstatus p {
  display: inline-block;
  min-width: 100px; }

.loginstatus a {
  /*border: 1px solid $color_warning;*/ }

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px; }

.live_games {
  width: 400px;
  margin: 0 auto; }
  .live_games a {
    text-align: center;
    padding: 10px;
    display: inline-block;
    width: 100%; }
  .live_games li:nth-child(odd) {
    background: #ebfcb0; }

.challenge, .scoreboard {
  margin: 0 auto;
  text-align: center; }
  .challenge th, .scoreboard th {
    font-size: 1.2em;
    /*border-bottom: 1px solid black;*/ }
  .challenge tr:nth-child(even), .scoreboard tr:nth-child(even) {
    background: #ebfcb0; }
  .challenge td, .scoreboard td {
    width: 200px;
    padding: 10px; }
    .challenge td a, .scoreboard td a {
      width: 100%;
      background: none; }
    .challenge td a:hover, .scoreboard td a:hover {
      background: none; }

.edit_user {
  margin: 0 auto;
  width: 300px;
  text-align: center; }

.players {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  font-size: 0; }
  .players .vs, .players .player_one, .players .player_two {
    font-size: 2rem;
    width: 40%;
    display: inline-block;
    padding: 10px 0; }
  .players .vs {
    width: 10%; }

.player_one .showpiece {
  margin-left: 20px; }

.player_two .showpiece {
  margin-right: 20px; }

.player {
  border-radius: 14px;
  border: 2px solid #ff7373; }
  .player .showpiece {
    opacity: 1; }

.game_container {
  font-size: 0;
  width: 600px;
  height: 600px;
  padding: 0px;
  display: inline-block; }

.game_container > div {
  font-size: 1rem;
  width: 33.33333%;
  height: 33.33333%;
  display: inline-block;
  margin: 0px;
  border-collapse: true;
  position: relative; }

.game_container a {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 20; }

.game_container form > div {
  position: absolute; }

.winner {
  position: absolute;
  top: 50%;
  left: 100px;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  z-index: 100;
  width: 400px;
  background: white;
  padding: 20px; }

.showpiece {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0%;
  position: relative;
  opacity: 0; }

.piece {
  width: 90%;
  height: 90%;
  margin: 5%;
  position: relative; }

.nought {
  border: 2px solid red;
  border-radius: 50%; }

svg {
  position: absolute; }

.cross line {
  stroke: red;
  stroke-width: 2; }

.blank {
  background: none; }

.box0 {
  border-right: 1px solid green;
  border-bottom: 1px solid green; }

.box1 {
  border-right: 1px solid green;
  border-bottom: 1px solid green;
  border-left: 1px solid green; }

.box2 {
  border-left: 1px solid green;
  border-bottom: 1px solid green; }

.box3 {
  border-right: 1px solid green;
  border-top: 1px solid green;
  border-bottom: 1px solid green; }

.box4 {
  border: 1px solid green; }

.box5 {
  border-left: 1px solid green;
  border-top: 1px solid green;
  border-bottom: 1px solid green; }

.box6 {
  border-right: 1px solid green;
  border-top: 1px solid green; }

.box7 {
  border-left: 1px solid green;
  border-right: 1px solid green;
  border-top: 1px solid green; }

.box8 {
  border-left: 1px solid green;
  border-top: 1px solid green; }
