

@media screen and (max-width: 850px) {
  body{
  /*min-width: 0px !important;*/
  }
  .side_menu > .left_menu, .side_menu >.right_menu{
    display: none !important;
  }
  .game_container {
    /*width: 100% !important;*/
  }
  .vs, .player_one, .player_two {
    width: 300px !important;
    
  }
  .vs {
    display: none !important;
  }

  .no_mobile {
  display: none !important;
  }
}

/*@media screen and (max-width: 460px) {
  background: $color;
}*/