// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$color: #dbf970;
$color_light: #EBFCB0;
$color_warning: #ff7373;
$color_board: #ff7373;
$button_radius: 7px;
/**
 #ff7373;
      right: -2%;
     #dbf970; #63add0;
   **/   


*{
  box-sizing:border-box;
  font-family: 'Comfortaa', 'cursive';
}
.hide {
  display: none !important;
}

.mobile{
  display: none;
}
.notmobile {
  display: hidden;
} 
nav .left_menu , nav .right_menu{
  display: none;
}

.home input[type="password"], .home input[type="text"] {
  font-size: 1.5em;
  max-width: 220px;
  width: 90%;
}  


.home a , input[type="button"], input[type="submit"], input[type="file"]  {
  font-weight: bold;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: black;
  padding: 5px 20px;
  border: none;
  border-radius: $button_radius;
  padding: 10px;
    max-width: 220px;
    width: 90%;
  background-color: $color;
  &:hover {
    color: $color_warning;
      }
}

.home h1 {
  font-size: 1.5em;
}
.home a { padding: 10px;
    max-width: 220px;
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    background: $color;
  }
  .toggle > .search_box {
    height: 0;
    overflow: hidden;
    transition: height 1s;
  }
  .toggle:hover > .search_box {
    height: 50px;

  }

.search_box {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  input[type="text"], input[type="submit"]{
    width: 45%;
  }
  p{
    display:inline;
  }
}

.field_with_errors input[type="text"], .field_with_errors input[type="password"]{
  background: $color_warning;
}

b {
  font-weight: bold;
  font-size: 1.2em;
}



body{
  height: 100%;
  text-align: center;
  /*min-width: 1050px;*/
}

a {
  text-decoration: none;
  color: black;
  border-radius: $button_radius;
}
.home input[type="submit"] {
  font-size: 1.2em;
}
a:hover {
  color: $color_warning;
}

.home {
  width: 80%;
  max-width: 300px;
  margin: 5% auto;
  text-align: center;
} 

.home table {
  margin: 0 auto;
}

main .left_menu {
  position: relative;
  width: 500px;
  margin: 0px auto;
  float: none;
  top: 80px;
  left: auto;
  display: inline;
  b {
    font-size: 1.5em;

  }
}

.side_menu .left_menu {
  float: left;
  margin-top: 150px;
  width: 300px;
}
.side_menu .right_menu {
  float: right;
  margin-top: 150px;
  width: 300px;
}
.left_menu {
  text-align: center;
  width: 300px;
  display: inline-block;
  /*float:left;*/
  margin-top:20px;
  /*top: 20%;
  left: 3%;*/

  a {
    padding: 10px;
    max-width: 200px;
    width: 90%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    background: $color;
  }
}


.right_menu{
  @extend .left_menu;
  float: right;

  table{
    margin: 0 auto;
    margin-top: 10px;
    td { 
      padding: 5px 10px;
    }
  }

}



main {
  /*width: 50%;*/
  text-align: center;
  margin: 0 auto; 
  position: relative;
}
.square {
    width: 60%;
    padding-bottom: 60%;
    margin: 0 auto;
  }

.score, .errors p, .flash p {
  border-radius: $button_radius;
  background: $color_warning;
  padding: 10px;
  max-width: 200px;
    width: 90%;
    display: inline-block;
}

.score, input[type="text"], input[type="password"] {
  padding: 10px;
  text-align: center;
}

.field {
  margin: 5px 0;
}

.logo {
  font-size: 2.8em;
  padding: 20px 0;
}


ul {
  -webkit-padding-start: 0px;
}

li {
  padding: 0;
  margin: 0;
  border-radius: $button_radius;
  }
.notif_anchor {
  position: relative;

}

 
  a:hover .notif_anchor .notification {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
   

#sidescoreboard {
  transition: all 0.2s;
}
#sidescoreboard.flash_square {
  background:$color_warning;
}

.notification {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -20px;
  left: -15px;
  background: $color_warning;
  text-align: center;
  line-height: 25px;
  color:white;
  transition: all 0.2s;
  
}

.flash_square.notification{
    width: 35px;
    height: 35px;
    line-height: 35px;
  }


.flash_square {
  svg line {
  stroke-width: 10;
  }
  
}



nav {
  margin-top: 2%;
  margin-left: 2%;
  position: relative;
  text-align: left;
  .profile-pic {
    position: absolute;
    width: 75px;
    border-radius: $button_radius;
  }
}
.loginstatus a, nav a {
  display: inline-block;
  background: $color;
  padding: 10px;
  color: black;
  text-decoration: none;
  &:hover {
      color: white;
  }

}
.loginstatus p {
  display: inline-block;
  min-width: 100px;
}
.loginstatus a {
    /*border: 1px solid $color_warning;*/
  }

  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
  }

  .live_games {
       width: 400px;
       margin: 0 auto;
      a {
        text-align: center;
        padding: 10px;
        display: inline-block;
        width: 100%;
      }
      li:nth-child(odd) {
        background: $color_light;
      }
}

  .challenge, .scoreboard {
    margin: 0 auto;
    text-align: center;
       th {
        font-size: 1.2em;
        /*border-bottom: 1px solid black;*/
      }
   
      tr:nth-child(even) {
        background: $color_light;
      }

     td {
      width: 200px;
      padding: 10px;
      a {
        width: 100%;
        background: none;
      }
      a:hover{
        background: none;
      }
     
    }
  }
.edit_user {
  
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
  .players {
    font-size: 2em;
    text-align: center;
    margin: 20px auto; /*square*/
    font-size: 0;
    .vs, .player_one, .player_two {
      font-size: 1.75rem;
      width: 19%;
      display: inline-block;
      padding: 1%  2% ;
      /*margin: 0%  2% ;*/
      word-wrap: break-word;
    }  
    .vs {
      width: 10%;
    }
  }

  .player_one .showpiece {
    margin-left: 20px;

  }
  .player_two .showpiece {
    margin-left: 20px;
    
  }


  .player {
    border-radius: $button_radius * 2;
    border: 2px solid #ff7373;
    .showpiece{
      opacity: 1;
    }
  }

  
.game_container {
  font-size: 0;
  width: 300px;
  height: 300px;
 /* width: 60vh;
  height: 60vh;*/
  padding: 0px;
  display: inline-block;
  margin: 0 auto;
  position: relative;


}
.game_container > div{
  font-size: 1rem; 
  width: percentage(1/3);
  height: percentage(1/3);
  display: inline-block;
  margin: 0px;
  border-collapse: true;
  position: relative;
}

.game_container  a {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 20;
  left: 0;
}
.game_container form > div  {
  position: absolute;
}

.winner {
  position: absolute;
  top: 112px;
  left: 50px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  z-index: 100;
  width: 200px;
  background: white;
  padding: 10px;
  border: 3px solid #63add0;

}

.showpiece {
  display:inline-block;
  width: 30px;
  height: 30px;
  margin: 0%;
  position: relative;
  opacity: 0;
}



.piece {
  width: 90%;
  height:90%;
  margin: 5%;
  position: relative;
  transition: background 0.2s;
}

.nought {
  border: 2px solid red;
  border-radius: 50%;
  transition: all 0.2s;
}

.nought.piece.flash_square  {
  border: 5px solid red;
}

svg {
  position:absolute;
  left: 0;
}

.cross line{

  stroke:rgb(255,0,0);
  stroke-width:2;
  transition: all 0.2s;
}


.blank {
  background: none;
}

$border_box: 1px solid green;
.box0 {
  border-right: $border_box;
  border-bottom: $border_box;
  }
.box1 {
  border-right: $border_box;
  border-bottom: $border_box;
  border-left: $border_box;
  }
.box2 {
  border-left: $border_box;
  border-bottom: $border_box;
  }
.box3 {
  border-right: $border_box;
  border-top: $border_box;
  border-bottom: $border_box;
  }
.box4 {
  border: $border_box;
  }
.box5 {
  border-left: $border_box;
  border-top: $border_box;
  border-bottom: $border_box;
  }
.box6 {
  border-right: $border_box;
  border-top: $border_box;
  }
.box7 {
  border-left: $border_box;
  border-right: $border_box;
  border-top: $border_box;
  }
.box8 {
  border-left: $border_box;
  border-top: $border_box;
  }



