<div class="cross showpiece">
             <svg height="100%" width="100%" >
                <line x1="0" y1="0" x2="100%" y2="100%"  />
                <line x1="100%" y1="0" x2="0" y2="100%"  />
            <!-- Sorry, your browser does not support inline SVG. -->
           </svg>
 </div>
     





